/* COLORS */
:root {
--color-darkpink: #F28482;
--color-lightpink: #F5CAC3;
--color-cream: #F7EDE2;
--color-yellow: #F6BD60;
--color-mint: #84A59D;
}

/* GENERAL STYLES */

body {
  font-family: 'Oswald', sans-serif;
  /* sets font family for entire page */
  background-color: #484a47;
  display: flex;
  flex-wrap: wrap;
}

#pretzel {
    padding-top: 12px;
    height: 80px;
    width: 70px;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.container {
  padding: 0;
}

.row {
  width: 100%;
  margin: auto;
}

/* NAVBAR SECTION */
.navbar-expand-lg {
  background-color: #000000;
  z-index: 2;
  height: 74px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
  padding-top: 10px;
}

.navbar-brand {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  /* font-size: 0.5rem; */
  font-size: 56px;
  position: relative;
  top: 3px;
}

#pretzel {
  position: relative;
  top: -10px;
}

.nav-item

/* for each navbar item */ {
  font-size: 1.1rem;
  font-weight: 500;
}

div#navbarSupportedContent {
  position: relative;
  top: -3px;
  left: 0px;
}

.fixed-top {
  z-index: 11;
}

/* HOME SECTION */
.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#homeSection {
  position: relative;
  padding: 20px 0;
  color: white;
}

.homeRow {
  width: 100%;
  margin: auto;
}

/* left section of the Home containing Heading and Order button*/
.homeTxtCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 12% 10% 5% 8%;
}

.homeHeading {
  font-size: 3.4rem;
  line-height: 1.3em;
}

/* Style the INEBRIATES to red color */
.homeHeading span {
  color: black;
  -webkit-text-stroke: 0.14vw rgb(0, 0, 0);
  letter-spacing: 2px;
  stroke: black;
  stroke-width: 3;
  position: relative;
  animation: textAnimate 5s infinite alternate;
}

.homeHeading span::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  color: #F28482;
  -webkit-text-stroke: 0.18vw #F28482;
  border-right: 3px solid #F28482;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

/* Styles for the Order Button */
.homeBtn {
  text-decoration: none;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  width: 40%;
  font-size: 1.2rem;
  border-radius: 24px;
  background-color: #F6BD60;
  color: black;
}

.homeBtn:hover {
  background-color: transparent;
  color: #F6BD60;
  border: 1px solid #F6BD60;
  transition: 0.8s;
}

/* right section of the Home section containing image*/
.homeImgCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styles for home section image */
.homeImg {
  padding-top: 50px;
  width: 100%;
  height: auto;
  margin-top: 50px !important;
  top: 50%;
  left: 100%;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 15s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.homeImg:not(hover) {
  transition: transform 0.3s;
}

/* MENU SECTION */

#menuSection {
  width: 100%;
  padding: 10%;
  background-color: #f28482;
}

#menuSection .container h1 {
  text-align: center;
  margin: 50px auto;
}

#menuSection .container b {
  font-size: 4rem;
  background-color: white;
  color: #6f1a07;
  padding: 1px 5px;
}

.product-box-layout4 {
  padding: 30px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  margin-bottom: 4rem;
}

.product-box-layout4:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: -1;
  transform: rotate(0deg);
}

.product-box-layout4 .item-figure

/* indivdual card styles */ {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  height: 300px;
  width: 100%;
  cursor: pointer;
}

.item-content .card-title {
  cursor: pointer;
}

.product-box-layout4 .item-figure:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
  background-color: rgba(255, 74, 82, 0.8);
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-box-layout4 .item-figure:hover {
  visibility: visible;
  opacity: 0.6;
}

.product-box-layout4 .item-content {
  text-align: center;
  padding: 25px 0 0;
}

.product-box-layout4:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e4e4e4;
  z-index: -2;
  transform: rotate(-3deg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-box-layout4:hover:after {
  transform: rotate(3deg);
}

.product-box-layout4.productClicked .item-figure {
  visibility: visible;
  opacity: 0.7;
}

/* MENU CARD */
#drinks,
#food,
#desserts {
  display: none;
}

.menuHeading {
  margin: 0 auto 40px auto;
  position: relative;
}

.menuHeading .col-12 h1 {
  text-align: center;
  color: snow;
}

.menuHeading .col-auto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoppingCart {
  padding-top: 5px;
  font-size: 1.4rem;
  color: snow;
  position: absolute;
  right: 4rem;
  top: 1rem;
}

.shoppingCart i {
  color: black;
}

.shoppingCartWithItems {
  color: #79d70f;
}

.shoppingCartAfter {
  position: absolute;
  font-size: 0.7rem;
  padding: 1px 5px;
  border-radius: 50%;
  background-color: #000000;
  top: 0;
  right: -13px;
  color: white;
}

.shoppingCart:hover {
  cursor: pointer;
}

.card {
  display: inline-block;
  width: 100%;
  padding: 2rem 1rem 5rem 1rem;
  background-color: #ffe6cc;
  position: relative;
  border: none;
}

.card:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  background-color: skyblue;
  top: 0px;
  right: 0px;
  border-bottom: 20px solid #ffdab3;
  border-left: 20px solid #ffdab3;
  border-right: 20px solid #6f1a07;
  border-top: 20px solid #6f1a07;
  position: absolute;
  -webkit-filter: drop-shadow(-5px 5px 3px #a6a6a6);
  filter: drop-shadow(-5px 5px 3px #a6a6a6);
}

.card:before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-top: 30px solid #ffdab3;
  border-right: 30px solid #ffdab3;
  border-left: 30px solid #6f1a07;
  border-bottom: 30px solid #6f1a07;
  bottom: 0px;
  left: 0px;
  position: absolute;
  -webkit-filter: drop-shadow(7px -7px 5px #a6a6a6);
  filter: drop-shadow(7px -7px 5px #a6a6a6);
  margin-right: 10%;
}

.foodItemName {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  padding-right: 3px;
}

.card-body {
  padding: 0 0.6rem;
}

.foodItemHr {
  border-top: 0.5px solid #F6BD60;
  width: 90%;
  margin: 5px auto;
}

.vegIcon {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-left: 5px;
}

.nonVegIcon {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-left: 5px;
}

.text-muted-small {
  color: #434b52;
  margin-bottom: 3px;
  font-size: 0.85rem;
}

.addCol {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.quantity {
  background-color: snow;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 22px;
  width: 22px;
  margin: auto 8px;
  padding: 5px;
}

.menuBtn {
  font-size: 0.75rem;
}

.menuBtn:hover {
  cursor: pointer;
}

.checkOutRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
  text-align: center;
}

.checkOutRow .knowMoreBtn {
  background-color: #ffe6cc;
  font-size: 1.3rem;
}

/* ABOUT SECTION */
#aboutSection {
  background-color: #000000;
  padding: 10% 5%;
  text-align: center;
  background-color: #84a59d;
  width: 100%;
  }

.about-title b {
  font-size: 4rem;
  background-color: white;
  color: #F6BD60;
}

.safetyMeasures p {
  font-weight: 500;
}

.eatSure {
  background-color: #f7ede2;
  border-radius: 22px;
}

.eatSure .row {
  width: 100%;
  padding: 25px 10px;
  margin: auto;
}

.eatSure .row .col-sm-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  padding: 10px;
}

.borderLeft {
  border-left: 1px solid black;
}

.icon-wrapper {
  background-color: #F6BD60;
  padding: 2px 6px;
  border-radius: 3px;
  padding-top: 0;
}

.eatSure .icon-wrapper svg {
  width: 10px;
  height: 10px;
}

.text {
  margin-top: 10px;
}

.knowMoreBtn {
  padding: 8px 20px;
  border: 1px solid #F6BD60;
  border-radius: 30px;
}

.modal-content {
  background-color: #ffe6cc;
}

textarea#address,
textarea#note {
  background-color: white;
  color: black;
  font-style: italic;
}

.cartContentDiv h1 {
  text-align: center;
}

.knowMoreBtn:hover {
  background-color: #F6BD60;
  color: snow;
  /* color: rgba(255, 255, 255, 1); */
  box-shadow: 0 5px 13px #F6BD60;
}

.knowMoreBtn:focus {
  background-color: #F6BD60;
}

.safetyMeasuresDiv {
  margin: 3% auto;
  text-align: center;
  color: snow;
}

.safetyMeasuresDiv .safetyMeasuresPara {
  font-size: 1.1rem;
}

.safetyMeasures {
  margin: 3% auto;
}

.safetyMeasures .col-sm-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.safetyMeasures .col-sm-3 p {
  margin-top: 10px;
  font-weight: 300;
}

.container.safetyMeasuresDiv img {
  height: 5em;
}

/* FOOTER SECTION */
.h2 {
  color: #F6BD60;
}

footer {
  background-color: #0d1010;
  color: #F6BD60;
  padding: 3% 0 2% 0;
  width: 100vw;
}

.footerHeadingCol {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footerHeadingCol h2 {
  font-weight: 600;
  font-size: 3rem;
}

/* policies, terms of service and contact */
.footer_clickable:hover {
  color: #ffc107;
  text-decoration: none;
}

.socialMedia

/* social media section */ {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5%;
}

.socialMediaIcon

/* individual icons styling */ {
  margin-right: 15px;
  font-size: 2.2rem;
  padding: 1rem;
}

.contactRow,
.addressRow {
  width: 97%;
  margin: auto;
}

.addressRow .col-auto {
  padding: 0;
  margin: 0;
}

footer a {
  color: snow;
}

.copyright {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: -6px;
}

/* SECTIONS */
#menuSection {
  padding-top: 10%;
  background-color: #f28482;
  padding-bottom: 12%;
}

.menu-title {
  text-align: center;
  margin: 50px auto;
}

.menu-title b {
    font-size: 4rem;
    background-color: white;
    color: #84a59d;
    padding: 0.5rem 2rem;
}

#testimonialsSection {
  background-color: #000;
  padding: 10%;
  width: 100%;
}

.about-title {
  text-align: center;
  margin: 50px auto;
}

.about-title b {
  font-size: 4rem;
  background-color: white;
  color: #84a59d;
  padding: 0.5rem 2rem;
}

.testimonials h3 {
  font-size: 4.5rem;
  border: 1px solid #84a59d;
  background-color: white;
  color: #84a59d;
  padding: 1px 5px;
  text-align: center;
  margin: 50px auto;
}

.testimonials p {
  color: white;
}

.testimonials h5 {
  color: #F6BD60;
}

.testimonials h6 {
  color: white !important;
}

/* checkout icons */
.checkIcon {
  color: green;
}


/* CONTACT US */
.icon img {
  width: 2.5rem;
  height: auto;
}
.icon1 img {
  width: 3rem;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

#contactSection {
  position: relative;
  min-height: 100hv;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(images/pancakes.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#contactSection .content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  text-align: center;
}

#contactSection .content h2 {
  font-size: 50px;
  font-weight: 400;
  color: #f7ede2;
}
#contactSection .content p {
  padding-top: 4px;
  font-size: 26px;
  font-weight: 275;
  color: #f7ede2;
  margin-bottom: 50px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .contactInfo {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.box .text {
  display: flex;
  font-size: 16px;
  color: #f7ede2;
  flex-direction: column;
  font-weight: 300;
  padding: 1rem;
}

.box .text h3 {
  color: var(--color-yellow)
}

.contactForm {
  width: 80%;
  padding: 40px;
  background: #f7ede2;
}
.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #484a47;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 10px;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #484a47;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #1D3560;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #9BBFDD;
  color: #484a47;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.h2 {
  color: #f7ede2;
}

footer {
  background-color: #484a47;
  color: #9BBFDD;
  padding: 3% 0 2% 0;
}

.footerHeadingCol {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footerHeadingCol h2 {
  font-weight: 600;
  font-size: 3rem;
}

/* policies, terms of service and contact */
.footer_clickable:hover {
  color: #9BBFDD;
  text-decoration: none;
}

.socialMedia

/* social media section */ {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.6rem;
  scale: 0.8;
  position: relative;
  top: -5px;
}

.socialMediaIcon

/* individual icons styling */ {
  margin-right: 15px;
  font-size: 2.2rem;
}

.contactRow,
.addressRow {
  width: 97%;
  margin: auto;
}

.addressRow .col-auto {
  padding: 0;
  margin: 0;
}

footer a {
  color: #f7ede2;
}

.copyright {
  text-align: center;
}

/* ---- SHOPPING CART ---- */

.modal-body {
  padding: 0;
}

.modal-body .container-fluid {
  padding: 5px;
}

.paymentInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}

.checkIcon {
  font-size: 1.5rem;
  color: #B81E13;
  margin: auto 7px;
}

.cartContentDiv {
  padding: 10px 0 10px 0;
}

.cartContentRow .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.cartContentRow .col-10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cartQuantity

/* Total number of cart items */ {
  font-size: 0.8rem;
}

.cartContentRow .col-2 .text-muted-small {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

/* horizontal line after each selected item on cart */
.cartHr {
  color: black;
  width: 90%;
  margin: 5px auto;
}

/* Section for total amount on Cart */
.totalAmountDiv {
  position: absolute;
  bottom: 8px;
  left: 0;
  padding-left: 15px;
}

.totalAmountText {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

/* Scroll To Top Button */

#scrollToTop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #f7ede2;
  font-size: 1.5rem;
  background-color: #484a47;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 3%;
  right: 2%;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

/* Scroll To Top Button Hover Over styles */
#scrollToTop:hover {
  cursor: pointer;
  background-color: #333;
}

/* After Scroll Top Button Has Been Clicked */
#scrollToTop:active {
  background-color: #555;
}

#scrollToTop.show {
  opacity: 1;
  visibility: visible;
}

/* Social icon Hover colors */

.fa-facebook-f:hover {
  color: #4267b2;
  font-size: 2.3rem;
}

.fa-twitter:hover {
  color: #00aaee;
  font-size: 2.3rem;
}

.fa-instagram:hover {
  color: #ee51c7;
  font-size: 2.3rem;
}

.fa-facebook-f:hover {
  color: #0e76a8;
  font-size: 2.3rem;
}
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #f7ede2;
}

*::-webkit-scrollbar-thumb {
  background-color: #484a47;
  border: 1px solid #f7ede2;
}




/* ---- DESKTOP ---- */
@media screen and (max-width: 1000px) {
  .footerHeadingCol h2 {
    font-size: 1.6rem;
  }

  .homeHeading {
    text-align: center;
  }

  .homeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32%;
  }

  .navbar {
    height: 14vh;
  }

  .shoppingCart {
    padding-top: 5px;
    font-size: 1.4rem;
    position: relative;
    right: 1rem;
    top: -0.5rem;
  }

  #contactus-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }

  .container .contactInfo {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 5%;
  }

  .contactForm {
    width: 80%;
    padding: 40px;
    background: #f7ede2;
  }
  
  .box {
    position: relative;
    padding: 1rem 0;
    display: flex;
  }  

  .homeTxtCol {
    padding-top: 73px;
    margin-top: 30px;
  }

  .homeImgCol {
    width: 244px;
    height: 229px;
  }

  footer#footer {
    width: 100%;
    margin-left: 3rem;
  }

  .socialMedia {
    scale: 0.8;
  }

/* checkout icons */
.checkIcon {
  color: green;
}

  .homeHeading {
    text-align: center;
  }

  .homeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32%;
  }

  .navbar {
    height: 14vh;
  }

  .homeTxtCol {
    padding-top: 73px;
    margin-top: 30px;
  }

  .homeImgCol {
    width: 15rem;
    height: 15rem;
  }

.box .text {
display: flex;
font-size: 16px;
color: #f7ede2;
flex-direction: column;
font-weight: 300;
margin-left: 2rem;
padding: 0.5rem;
}

.box .text h3 {
  font-weight: 500;
  color: #F6BD60;
}

}




/* ---- TABLET ---- */
@media screen and (max-width: 850px) {
  
  .contactInfo, .box {
    display: block;
    margin-bottom: 2rem;
  }

  .box .text {
    margin-left: 0px;
  }

  #contactSection .content h2 {
    margin-top: 220px;
  }

  #contactSection h3 {
    font-size: 20px;
  }

  #contactSection p {
    font-size: 14px;
  }

  .navbar-brand {
    font-size: 3rem;
    margin-bottom: 5px;
  }

  .homeTxtCol {
    padding-right: 0;
    padding-left: 0;
  }

  .homeHeading {
    font-size: 3rem;
  }

  .homeHeading b {
    font-size: 4rem;
  }

  .homeImgCol {
    margin: 50px auto 0 auto;
  }

  .homeImg {
    width: auto;
    height: 100%;
    margin-left: 10px !important;
  }

  #menuSection {
    padding: 1% 10px 5%;
  }

  #menu-container {
    display: block;
  }

  .product-box-layout4 .item-figure {
    height: 200px;
  }

  .col-lg-4.col-sm-6.col-12 .card {
    margin-bottom: 15px;
  }

  .socialMediaIcon {
  padding: 0.5rem;
  }

  .footerHeadingCol h2 {
   font-size: 2rem;
  }

  .navbar-brand {
    font-size: 3rem;
    margin-bottom: 5px;
  }

  .homeTxtCol {
    padding-right: 0;
    padding-left: 0;
  }

  .homeHeading {
    font-size: 3rem;
    padding: 0px 10%;
  }

  .homeImgCol {
    margin: 50px auto 0 auto;
  }

  .homeImg {
    width: auto;
    height: 100%;
    margin-left: 10px !important;
  }

  #menuSection {
    padding: 1% 10px 5%;
  }

  .product-box-layout4 .item-figure {
    height: 200px;
  }

  .col-lg-4.col-sm-6.col-12 .card {
    margin-bottom: 15px;
  }

  .socialMedia {
    scale: 0.6;
  }
}




/* ---- PHONES ---- */
@media screen and (max-width: 650px) {
  .navbar-brand {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }

  .homeHeading, .about-title b, .menu-title b {
    font-size: 3rem;
  }

  .col-lg-4.col-sm-4.col-4 {
    padding: 0 6px;
  }

  #menuSection {
    padding: 1% 5% 5%;
  }

  .product-box-layout4 .item-figure {
    height: 130px;
  }

  .item-content .card-title {
    font-size: 1.1rem;
  }

  .product-box-layout4 {
    padding: 10px;
  }

  .product-box-layout4 .item-content {
    padding: 15px 0 0;
  }

  .col-sm-6.col-12 .card {
    margin-bottom: 15px;
  }

  .eatSure {
    margin-bottom: 30px;
  }

  .safetyMeasures {
    margin-top: 12%;
  }

  /* ABOUT SECTION */

  /* safety icons */
  .col-sm-3.col-6 {
    margin-bottom: 1.5rem;
  }

  .borderLeft {
    border-left: 1px solid transparent;
  }

  /* TESTIMONIAL SECTION */
  b {
    font-size: 3rem;
    padding: 0;
  }

  .footerHeadingCol h2 {
    font-size: 2.5rem !important;
  }

  .socialMediaIcon {
    margin-right: 10px;
    font-size: 1.2rem;
  }

  .contactRow {
    font-size: 0.9rem;
  }

  .copyright {
    font-size: 0.9rem;
  }

  #contactSection {
    padding: 0;
    margin-top: 0;
  }

  #contactSection .content h2 {
    margin-top: 20px;
  }

  .contactInfo, .box {
    display: block;
    margin: 0rem;
  }

  .col-lg-4.col-sm-4.col-4 {
    padding: 0 6px;
  }

  .product-box-layout4 .item-figure {
    height: 130px;
  }

  .item-content .card-title {
    font-size: 1.1rem;
  }

  .product-box-layout4 {
    padding: 10px;
  }

  .product-box-layout4 .item-content {
    padding: 15px 0 0;
  }

  .col-sm-6.col-12 .card {
    margin-bottom: 15px;
  }

  .eatSure {
    margin-bottom: 30px;
  }

  .safetyMeasures {
    margin-top: 12%;
  }

  .footerHeadingCol h2 {
    font-size: 2.5rem !important;
  }

  .socialMediaIcon {
    margin-right: 10px;
    font-size: 1.2rem;
  }

  .socialMedia {
    display: none;
  }

  .contactRow {
    font-size: 0.9rem;
  }

  .copyright {
    display: none;
  }

}